body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", sans-serif;
  min-height: 100vh;
  background: lightslategray;
  color: white;
}

code {
  font-family:"Courier New", monospace;
}
.App {
  display: grid;
  place-items: center;
  height: 100vh;
}
h1 {
  margin: 0;
}
.board {
  position: relative;
  padding: 0;
}
.cell {
  position: absolute;
  list-style: none;
  border: 1px solid lightcyan;
  background: lightcoral;
  display: grid;
  place-items: center;
  font-size: 20px;
}
button {
  background-color: lightcoral;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}